header {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
}

#gameboard {
    border-collapse: collapse;
}

#gameboard td {
    width: 100px;
    height: 100px;
    border-color: black;
    border-width: 3px;
    cursor: pointer;
}

#gameboard .top {
    border-bottom-style: solid;
}

#gameboard .middle {
    border-top-style: solid;
    border-bottom-style: solid;
}

#gameboard .bottom {
    border-top-style: solid;
}

#gameboard .left {
    border-right-style: solid;
}

#gameboard .center {
    border-left-style: solid;
    border-right-style: solid;
}

#gameboard .right {
    border-left-style: solid;
}

#gameboard .filled {
    cursor: not-allowed;
}